<div class="container faq">
  <div class="title">
    <p>FAQ</p>
  </div>
  <hr>
  <div class="accordion">
    <ngb-accordion #acc="ngbAccordion" [closeOthers]="false" [destroyOnHide]="true">
      <ngb-panel id="static-1">
        <ng-template ngbPanelTitle>
          <span class="panel-title">Que es GTBuY?</span>
        </ng-template>
        <ng-template ngbPanelContent>
          Es una tienda en linea que aglutina a muchos proveedores, con la unica finalidad de brindar
          una varidad de productos, en esta tienda online es como una gran tienda virtual, cada uno de nuestros
          proveedores se ha registrado y comprobamos que sus productos se entreguen y no sea una estafa.
        </ng-template>
      </ngb-panel>
      <ngb-panel id="static-2">
        <ng-template ngbPanelTitle>
          <span class="panel-title w-100">¿Como puedes conectarte con nosotros?</span>
        </ng-template>
        <ng-template ngbPanelContent>
          Puedes hacerlo atraves de nuestro correo elctronico GTBuY@gtbuy.com, sera un gusto brindarte mayor informacion
          
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
