<div class="carrito container">

    <div class="form row">
        <div class="col-md-12">
            <br>
            <h2>
              Carrito
            </h2>
            <label>IdCliente {{user}}</label>
        </div>
    </div>

    <div class="form row">
             
        <div class="col-md-12">

            <form [formGroup]="sign" (ngSubmit)="Comprar()"> 

                <div class="form-group">
        
                    <label for="tipo">Seleccione Tarjeta</label>
                  
                    <select class="form-control" formControlName="tipo" name="tipo" >
                  
                      <option value="{{Tarjeta.idTarjeta}}" *ngFor="let Tarjeta of Tarjetas">{{Tarjeta.numero}}</option>
             
                    </select>
            
                </div>

                 

                <div class="form-group">
                    <label for="direccion">Direccion</label>
                    <input type="text" id="direccion" class="form-control" name="direccion" formControlName="direccion" >
                </div>
          
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col"> Foto </th>
                        <th scope="col"> Nombre Producto </th>
                        <th scope="col"> Precio </th>
                        <th scope="col"> Cantidad </th>
                        
                        
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of carrito">
                            <td><img src="{{c.foto}}"></td>
                            <td>{{c.nombre}}</td>
                            <td>{{c.precioVenta}}</td>
                            <td>
                                <input type="number" id={{c.idProducto}} class="contador" name="contador" value = "1" formControlName="contador">
                            </td>
                        </tr>
                    </tbody>
                </table>
            
                <div class="form row">
                    <div class="col-md-12">
                        <h3>
                          Total Q{{total}}
                        </h3>
                        
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                      <button class="btn btn-info" type="submit">
                        Comprar
                      </button>
                    </div>
                </div>

             </form> 

        </div>

    </div>




    
</div>
