<div class="esbverproducto container">

    <div class="form row">
        <div class="col-md-12">
            <br>
            <h2>
              ESB verProducto
            </h2>
        </div>
    </div>

    <table class="table">
        <thead>
          <tr>
            <th scope="col"> idProducto </th>
            <th scope="col"> Nombre Producto </th>
            <th scope="col"> Descripcion </th>
            <th scope="col"> Stock </th>
            <th scope="col"> Precio Venta </th>
            <th scope="col"> Foto </th>

            
  
          </tr>
        </thead>
        <tbody>
            <tr >
                
              <td>{{id_producto}}</td>
              <td>{{nombre}}</td>
              <td>{{descripcion}}</td>
              <td>{{stock}}</td>
              <td>{{precio_venta}}</td>
              <td><img src="{{foto}}"></td>

            </tr>
        </tbody>
    </table>  
    
</div>