<div class="rventa container ">

    <div class="row">
      <div class="col-md-9">
        <br>
        <br>
        <h1>Proveedores</h1>
        <br>
          <p>
            Bienvenido al reporte de ventas
          </p>
      </div>

      <table class="table">
        <thead>
          <tr>
            
            <th scope="col"> Producto </th>
            
            <th scope="col"> Foto </th>    
            <th scope="col"> unidadesVendidas </th>
            <th scope="col"> totalVentas </th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let venta of Ventas">
                <td>{{venta.producto}}</td>
                <td><img src="{{venta.foto}}"></td>
                <td>{{venta.unidadesVendidas}}</td>
                <td>{{venta.totalVentas}}</td>
              
            </tr>
        </tbody>
    </table>

    </div>
    
</div>
