<div class="reporteventa container ">

    <div class="row">
      <div class="col-md-9">
        <br>
        <br>
        <h1>Proveedores</h1>
        <br>
          <p>
            Bienvenido al reporte de ventas
          </p>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th scope="col"> Total de articulos vendidos </th>
            <th scope="col"> Total </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{x}}</td>
            <td>{{y}}</td>
          </tr>
        </tbody>
      </table>

    </div>
    
</div>
