<div class="proveedores container">

    <div class="title row">
      <div class="col-md-8">
        <p>PROVEEDORES</p>
        <span>Bienvenido a GTBuY</span>
        <hr>
      </div>
    </div>

    <div class="form row">
        <div class="col-md-12">

            <div class="form-group">
                <label for="nombre">NOMBRE</label>
                <input type="text" id="nombre" class="form-control" name="nombre" formControlName="nombre" >
            </div>

        </div>
    </div>


</div>