<div class="proveedores container">

  <div class="form row">  
    <div class="col-md-12">  
      <br>  
      <br>  
      <br>  
      <h2>
        Proveedores
      </h2>
  
      <p>
        Bienvenido  
        ID: {{idProveedor}}
      </p> 
      
      <p>
        Nombre: {{proveedornombre}}
      </p>
      <hr>
    </div>
  </div>

  <table class="table table-striped table-bordered"   >
  
    <thead>
      <tr>
        <th>
          <button class="btn btn-info" [routerLink]="['/', 'subasta', user]">Subastas</button>
        </th>

        <th>
          <button class="btn btn-info" (click)="addProduct()">Agregar Producto</button>
        </th>

        <th>
          <button class="btn btn-info" (click)="reporteVenta()">Reporte Ventas</button>
        </th>

      </tr>
    </thead>

  </table>

  <table class="table">
    <tr>

      <th> Nombre </th>
      <th> Precio Venta </th>
      <th> Stock </th>
      <th> Foto </th>
      <th> Actualizar </th>
      <th> Eliminar </th>
  
    </tr>

    <tr *ngFor="let Producto of Productos">
      <td>{{Producto.nombre}}</td>
      <td>{{Producto.precioVenta}}</td>
      <td>{{Producto.stock}}</td>
      <td><img src="{{Producto.foto}}"></td>
      <td>
        
      <button class="btn btn-info" 
      [routerLink]="['/', 'proveedor', Producto.idProducto]">
        Actualizar
      </button>
      
      </td>

      <td><button class="btn btn-info" (click)="sendDeleteRequestProducto(Producto.idProducto)">Eliminar</button></td>
    </tr>

  </table>

</div>