<div class="signin container">

    <div class="title row">
      <div class="col-md-4">
        <img src="../../../assets/key.png" alt="login key">
      </div>
      <div class="col-md-8">
        <p>LOGIN</p>
        <span>Bienvenido a GTBuy</span>
      </div>
  
    </div>
  
    <div class="row">
      <div class="col-md-6">
        <div *ngFor="let e of (authState | async).errors">
          <div *ngIf="e.errorEffect == 'SIGN_IN'" class="alert-warning">
            <div *ngIf="e.error.status === 400">Credenciales erroneas</div>
            <div *ngIf="e.error.status === 401">401 Error</div>
            <div *ngIf="e.error.status === 500 || e.error.status === 0">Error interno, porfavor pongase en contacto con el administrador
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="form row">
      <div class="col-md-12">
        <div *ngIf="(authState | async).loading" class="loader"></div>
        <form [formGroup]="signInForm" (ngSubmit)="onSubmitted()">
            <div class="form-group">
        
                <label for="tienda">Tienda</label>
              
                <select class="form-control" formControlName="tienda" name="tienda" >
              
                  <option value="0">Tienda 1</option>
                  <option value="1">Tienda 2</option>
                  <option value="2">Tienda 3</option>
                  <option value="3">Tienda 4</option>
                  <option value="4">Tienda 5</option>
                  <option value="5">Tienda 6</option>
                  <option value="6">Tienda 7</option>
                  <option value="7">Tienda 8</option>
                  <option value="8">Tienda 9</option>
                  <option value="9">Tienda 10</option>
                  <option value="10">Tienda 11</option>
                  <option value="11">Tienda 12</option>
                  <option value="12">Tienda 13</option>
                  <option value="13">Tienda 14</option>
                  <option value="14">Tienda 15</option>
                  <option value="15">Tienda 16</option>
                  <option value="16">Tienda 17</option>
              
                </select>
            
            
              </div>

            <div class="form-group">
            <label for="email">EMAIL</label>
            <input type="text" id="email" class="form-control" name="email" formControlName="email" [maxlength]="240">
            <span *ngIf="signInForm.get('email').invalid && signInForm.get('email').touched" class="alert-danger">
                por favor introduzca su email
            </span>
          </div>

  
          <div class="form-group">
            <label for="password">PASSWORD</label>
            <input type="password" id="password" class="form-control" name="password" formControlName="password"
              [maxlength]="240">
            <span *ngIf="signInForm.get('password').invalid && signInForm.get('password').touched">
              <span *ngIf="signInForm.get('password').errors.required" class="alert-danger">este campo es requerido!</span>
              <span *ngIf="signInForm.get('password').errors.minlength" class="alert-danger">la longitud minima debe ser de 6!</span>
            </span>
          </div>
  
          <div class="forgot row">
            <div class="col-md-12">
              <a routerLink="/forgot-password">
                <p>Olvido su clave?</p>
              </a>
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-info" type="submit"
                [disabled]="signInForm.invalid || signInForm.pending || (authState | async).loading">Login
              </button>
            </div>
          </div>
  
          <div class="signup row">
            <div class="col-md-12">
              <a routerLink="/signup">
                <p>Desea crear una cuenta en una sucursal? <span>Registrese!</span></p>
              </a>
            </div>
          </div>
  
        </form>
      </div>
    </div>
  </div>
  