<div class="proveedor container">

    <div class="form row">
        <div class="col-md-12">
          <br>
          <br>
            <h2>
              Proveedor Actualizar
            </h2>
        </div>
    </div>

    <div class="form row">
             
        <div class="col-md-12">

            <!-- <form [formGroup]="sign" (ngSubmit)="Actualizar()"> -->

                <div class="form-group">
                    <label for="nombre">PrecioVenta</label>
                    <input type="text" id="nombre" class="form-control" name="nombre" formControlName="nombre" >
                </div>
          
                
                <div class="form-group">
                    <label for="apellido">Stock</label>
                    <input type="text" id="apellido" class="form-control" name="apellido" formControlName="apellido" >                  
                </div>

                <div class="row">
                    <div class="col-md-12">
                      <button class="btn btn-info" type="submit">
                          Actualizar
                      </button>
                    </div>
                </div>
            <!-- </form> -->

        </div>

    </div>



</div>