<div class="proveedor container">

    <div class="form row">
        <div class="col-md-12">
  
          <br>
          <br>
            <h2>
              Proveedor Actualizar
            </h2>
        </div>
    </div>

    <div class="form-group">
        <label for="precioVenta">Precio Venta</label>
        <input type="text" id="precioVenta" class="form-control" name="precioVenta" formControlName="precioVenta" >
    </div>

    <div class="form-group">
        <label for="stock">Stock</label>
        <input type="text" id="stock" class="form-control" name="stock" formControlName="stock" >
    </div>

    <button class="btn btn-info" type="submit">Actualizar</button>
</div>