<div class="sbproveedor container">

    <div class="form row">
        <div class="col-md-12">
            <br>
            <br>
            <br>
            <br>
            <br>
        

            <h2>

             ESB Proveedores
            </h2>
        </div>
    </div>

    <div class="form row">
             
        <div class="col-md-12">

            <form [formGroup]="sign" (ngSubmit)="agregarProducto()"> 

                <p>
                    ID:
                   
                </p>                    

                

                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" id="nombre" class="form-control" name="nombre" formControlName="nombre" >
                </div>
          
                <div class="form-group">
                    <label for="descripcion">Descripcion</label>
                    <input type="text" id="descripcion" class="form-control" name="descripcion" formControlName="descripcion" >
                </div>
          
                
                <div class="form-group">
                    <label for="pventa">Precio Venta</label>
                    <input type="text" id="pventa" class="form-control" name="pventa" formControlName="pventa" >                  
                </div>

                <div class="form-group">
                    <label for="stock">Stock</label>
                    <input type="text" id="stock" class="form-control" name="stock" formControlName="stock" >                  
                </div>
                <div class="form-group">
                    <label for="imagen">imagen(url)</label>
                    <input type="text" id="imagen" class="form-control" name="imagen" formControlName="imagen" >
                </div>
                <div class="row">
                    <div class="col-md-12">
                      <button class="btn btn-info" type="submit">
                        Agregar Producto
                      </button>
                    </div>
                </div>


              

             </form> 

        </div>

    </div>


</div>