<div class="subastaganada container">

    <div class="form row">
        <div class="col-md-12">
            <br>
            <h2>
              Subasta Ganada
            </h2>
            <hr>
        </div>
    </div>

    <table class="table">
        <thead>
          <tr>
            <th scope="col"> Precio </th>
            <th scope="col"> Producto </th>
            <th scope="col"> IdProducto </th>
            <th scope="col"> Foto </th>    
            <th scope="col"> idCliente </th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let subasta of Subastas">
                <td>{{subasta.precio}}</td>
                <td>{{subasta.producto}}</td>
                <td>{{subasta.idProducto}}</td>
                <td><img src="{{subasta.foto}}"></td>
                <td>{{subasta.idCliente}}</td>
                
            </tr>
        </tbody>
    </table>
</div>
