<div class="account container">
  <div class="row">
    <div class="links col-md-3">
      <div class="title">
        <p>Cuenta</p>
      </div>
      <div>
        <a routerLink="/account/information" routerLinkActive="active">
          <i class="fa fa-user-o" aria-hidden="true"></i>
          <p>Informacion de Usuario</p>
        </a>
      </div>
      <div>
        <a routerLink="/account/orders" routerLinkActive="active"> <i class="fa fa-archive" aria-hidden="true"></i>
          <p>Ordenes</p>
        </a>
      </div>
      <div>
        <a routerLink="/account/address" routerLinkActive="active"><i class="fa fa-home" aria-hidden="true"></i>
          <p>Direccion</p>
        </a>
      </div>
      <div>
        <a routerLink="/account/help" routerLinkActive="active"> <i class="fa fa-question-circle-o"
            aria-hidden="true"></i>
          <p>Ayuda</p>
        </a>
      </div>
    </div>
    <div class="panel col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
